@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");

.section-background {
  background-color: #222222;
  border-radius: 10px;
}

.display-name {
  font-size: 2em;
  font-family: "PT Sans Caption", "Inter", sans-serif;
}

.search-form-control {
  font-family: "PT Sans Caption", "Inter", sans-serif;
  background-color: #242424;
  font-size: 0.875rem;
  color: #fff;
  width: 35%;
}

.form-control:focus {
  border-color: white;
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 1);
}

.form-control::placeholder {
  color: #a7a7a7;
}

.form-control::-ms-clear {
  display: none;
}
