@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

#profile-image{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.dropdown-toggle::after {
    font-size: 24px;
    margin-left: 10px;
    vertical-align: middle;
}

.dropdown-item:active {
    background-color: #1DB954;
    color: white;
}

#display-name {
    margin-top: 0.5em;
    font-size: 1.5em;
    font-family: 'PT Sans Caption','Inter', sans-serif;
}

#search-form-control {
    font-family: 'PT Sans Caption','Inter', sans-serif;
}