@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');

h1 {
    font-family: 'Rubik', 'Inter', sans-serif;
    font-size: 4em;
    font-weight: bold;
}

h2 {
    font-family: 'PT Sans Caption','Inter', sans-serif;
}

.btn {
    font-family: 'PT Sans Caption','Inter', sans-serif;
    font-weight: 600;
    background-color: #7ed321;
    border-color: #7ed321;
    color: black;
}

.btn:hover {
    background-color: #7ed321;
    border-color: #7ed321;
}