@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

.playlist-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    color: white;
    margin-top: 1em;
}

.playlist-card:hover {
    background-color: #1a1a1a;
}

