@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

#track-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}

#track-card:hover {
    background-color: #1a1a1a;
}

#track-name {
    font-family: 'Rubik', 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}

#artist-name {
    font-family: 'PT Sans Caption','Inter', sans-serif;
    font-size: 0.9rem;
    color: #a7a7a7 !important;
}

#explicit-symbol {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 3px;
}

#create-playlist {
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    margin: 0;
}

#create-playlist:hover {
    color: green;
}
  
